/* General */
*{
    font-family: 'Roboto';
}

/* Body */

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

/* Header */

header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}


/* Footer */

footer{
    text-align: center;
    background-color: #353E48;
    color: #FFf;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    margin-bottom:0;
}


